h1{
    font-size: 90px;
    
}

.color-2022{
    color: blueviolet;
}

.border-1{
    border-left: 6px solid;
    
    padding: 10px;
    border-radius: 5px;
    border-color: brown;
    

}

.paragraph{
    font-size: 25px;
    padding-bottom: 20px;
}
.main-1{
    display: flex;
    padding: 200px
}

img{
    height: 500px;
    width: 500px;
}


.button{
    text-decoration: none;
    background-color: rgb(168, 13, 44);
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 210px;
    height: 65px;
    
}



.heading{
    text-align: center;
}

.background-1{
    background-color: antiquewhite;
    border-radius: 30px;
    margin-right: 40px;

}

.background-2{
    background-color: aquamarine;
    border-radius: 30px;
    margin-right: 40px;
}
.background-3{
    background-color: cadetblue;
    border-radius: 30px;
    margin-right: 40px;
}


.small{
    height: 200px;
    width: 200px;
}

.center{
    padding-left: 40px;
    padding-right: 40px;
}
